#class{
    width: 725px;
    height: 40px;
    color: blue;
    text-align: center;
    margin: auto;
    background-color: chartreuse;
    padding: 5px;
}
#rock{
    width: 400px;
    /* height: 400px;  */
    margin: auto;
    margin-top: 35px;
    display: flex;
    border: 2px solid black;
    justify-content: space-around;
    padding: 5px;
}
#red{
    width: 100px;
    height: 100px;
    background-color: red;
    border: 1px solid;
    position: relative;
}
#yellow{
    width: 100px;
    height: 100px;
    background-color: yellow;
    position: relative;
}
#blue{
    width: 100px;
    height: 100px;
    background-color: blue;
}